<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<!--解决，查询返回结果含null没有对应字段值问题--> 
		<setting name="callSettersOnNulls" value="true" />
		<!-- mybatis配置打印sql语句 用log4j方式打印 -->
		<setting name="logImpl" value="LOG4J" />
	</settings>

	<typeAliases>
		<typeAlias type="com.claris.generatingcode.util.PageData" alias="pd"/>
	</typeAliases>

	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<!--分页参数合理化 -->
			<property name="reasonable" value="true" />
		</plugin>
	</plugins>

</configuration>

